.form{
    border: 2px solid #FB8F1D ;
    width: 300px;
    text-align: center;
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
}
.form input{
    width: 300px;
    margin-top: 20px;
    padding: 10px 0px;
    outline: none;
    border-radius: 5px;
   
}
.form button{
        padding: 9px 20px;
        border: 1px solid #FB8F1D;
        border-radius: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        background-color: white;
        
        display: flex;
        align-items: center;
        
        
        mix-blend-mode: normal;
        margin-top: 15px;
        margin-left: 110px;


        
}
 .form Button:hover{
            padding: 9px 20px;
            background: #FB8F1D;
            border-radius: 8px;
            font-style: normal;
        font-weight: 500;
        font-size: 15px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
        transform: scale(1.1);

        
        }
 .form Button:disabled{
            padding: 9px 20px;
            background: white;
            border-radius: 8px;
            font-style: normal;
        font-weight: 500;
        font-size: 15px;
        display: flex;
        align-items: center;
        color: #666666;
        cursor: no-drop;

        
        }
